
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #cccccc;
    color: teal
}
.img-container {
    position: relative; 
}

.img-container img {
width: 100%;
}
.img-container h2 {
    position: absolute;
    background-color: aquamarine;
    padding: 20px 10px;
    width:100%;
    text-align: center;
    bottom: 50px;
}

.h1 {
font-size: 26px;
margin: 15px 0px 5px 0px;
border-bottom: 5px solid black;
}

.header {
font-weight: bold;
color: teal;
border-bottom:3px solid grey;
}

  
.footer {
    background-color: aquamarine;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

